[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/cloudera/zookeeper.git
[submodule "hadoop-common"]
	path = hadoop-common
	url = https://github.com/cloudera/hadoop-common.git
[submodule "hadoop-lzo"]
	path = hadoop-lzo
	url = https://github.com/twitter/hadoop-lzo.git
[submodule "hbase"]
	path = hbase
	url = https://github.com/cloudera/hbase.git
[submodule "hive"]
	path = hive
	url = https://github.com/cloudera/hive.git
[submodule "amplab-shark"]
	path = amplab-shark
	url = https://github.com/amplab/shark.git
[submodule "amplab-hive"]
	path = amplab-hive
	url = https://github.com/amplab/hive.git
[submodule "apache-spark"]
	path = apache-spark
	url = https://github.com/apache/spark.git
